<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

    <title>Portifólio Lucas</title>

</head>
<body>
    <header class="d-flex justify-content-between align-items">
        <img class="mt-2 " src="/static/main logo.png" alt="logo" width="20%" height="30%">
        <nav class=" me-5 navbar navbar-expand-md navbar-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Altenar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"> 
        <ul class="d-flex gap-4 navbar-nav">
        <li class="nav-item">HOME</li>
        <li class="nav-item">SOBRE</li>
        <li class="nav-item">SKILLS</li>
        <li class="nav-item">PROJETOS</li>
    </ul>
</div>
    </nav>
    </header>
    <div class="background-conteiner">
        <h1 class="text-light nomes">Lucas <br>
            <span class="Guerra">Guerra</span>
        </h1>
        <p class="text-light subtitulo">Estudante e Desenvolvedor de Software</p></div>
        <div class="sobre">
            <h1 class="text-light titulosobre">Um pouco sobre mim</h1>
            <p class="textosobremim text-light mt-4">"Sou Lucas Fernando Guerra, estudante de Desenvolvimento de Software. Apaixonado por tecnologia, busco oportunidades para aplicar e expandir meus conhecimentoso. Valorizo o trabalho em equipe e a constante aprendizagem, sempre em busca de soluções inovadoras para desafios,atualmente estou no 2º semestre em desenvolvimento de software multiplataforma, além de aprimorar cada dia mais minhas habilidades técnicas, foco bastante em minhas soft skills, sou bem comunicativo e sociável” </p>
        </div>
        <div class="soft">
            <h1 class="titulosoft">soft & hard skills</h1>
            <div class="skillsgrid">
                <img src="/static/mysql.icon.png" alt="my sql">
                <img src="/static/python.icon.png" alt="python">
                <img src="/static/bootstrap.icon.png" alt="bootstrap">
                <img src="/static/css.icon.png" alt="css3">
                <img src="/static/flask.icon.png" alt="flaskpy">
                <img src="/static/git.icon.png" alt="git">
                <img src="/static/html.icon.png" alt="html5">
                <img src="/static/type.icon.png" alt="typescript">
                <img src="/static/js.icon.png" alt="">
                <img src="/static/figma.icon.png" alt="figma">
            </div>
            <div class="botao-descricao">
                <p class="titulo-botao">ALÉM DISSO POSSUO TAMBÉM DIVERSAS OUTRAS HABILIDADES</p>
              </div>
              <div class="grid2">
                <div>
                    <img src="/static/proativo.png" alt="proatividade"><p>Proatividade</p>
                </div>
                <div><img src="/static/comunicaçao.png" alt="comunicacao"><p>Comunicativo</p>
                </div>
                <div><img src="/static/criativo.png" alt="criatividade"><p>Criatividade</p>
                </div>
                <div><img src="/static/equipe.png" alt="trabalho em equipe"><p>Trabalho em Equipe</p>
                </div>
                <div><img src="/static/gestão tempo.png" alt="gestao"><p>Gestão de Tempo</p>
                </div>
                <div><img src="/static/produtivo.png" alt="produtivo"><p>Produtivo</p>
                </div>
            </div>

            <h1 class="tituloprojetos">projetos</h1>
            <div class="projetos">
                <div class="projeto">
                    <img src="/static/api-vereadores.png" alt="">
                    <div class="descricao">
                        <h2>API - BYTETECH</h2>
                        <p>Software para Análise de Candidatos: Apresento um software inovador desenvolvido para a faculdade, que compila estatísticas e informações detalhadas sobre os candidatos a vereadores de São José dos Campos. Essa ferramenta oferece uma visão clara e acessível, facilitando a compreensão do cenário político local</p>
                    </div>
                </div>
                <div class="projeto">
                    <img src="/static/propel.jpg" alt="">
                    <div class="descricao">
                        <h2>PROPEL SERVIÇOS </h2>
                        <p>Desenvolvi um site de serviços para máquinas de obra, como tratores e guindastes. A plataforma intuitiva e visualmente organizada facilita a locação desses equipamentos essenciais. Este projeto demonstra minhas habilidades em front-end, unindo estética e funcionalidade para otimizar a experiência do usuário.</p>
                    </div>
                </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>