body {
    background-image: repeating-linear-gradient(
        to bottom,
        #37060E 0%,
        #000000 35%,
        #37060E 100%);
    height: 100vh;
}

ul {
    list-style-type: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.background-conteiner {
    height: 500px;
    background-image: url(/static/fundo\ setas.png);
    background-size: contain;
    width: 100%;
    height: 40vw;
    background-repeat: no-repeat;
    display: flex; /* Ativa flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: flex-start; 

}

.navbar-nav {
    margin-top: -19px;
}

.nomes {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    height: 10vw;
    margin-left: 22vw;
    margin-top: 10vw;
    
}

.Guerra {
    display: inline-block ;
    margin-left: 42%;
    position: relative;
    top: -1vw;

}
.subtitulo {
    font-size: 2vw;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:4vw;
    margin-left: 37vw;

}

.titulosobre {
    font-size: 1vw;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;

}
.textosobremim {
    font-size: 1vw;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    margin-left: 5%;
    

}

.sobre {
    margin-left: 14vw;
    margin-right: 15vw;
    margin-top: 10vw;
}

.soft {
    margin-top: 10vw;
}


.titulosoft {
    font-size: 5vw;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;


}
.skillsgrid {
    display: grid;
    margin-left: 8vw;
    margin-right: 7vw;
    grid-template-columns: repeat(auto-fit, minmax(13vw,1fr));
    gap: 2vw;
    padding: 2vw;
}

.skillsgrid img {
    width: 12vw;
    height: 12vw;
    object-fit: contain;
}

.botao-descricao {
        background-color: #D9D9D9;
        height: 2vw;
        width: 40vw; /* Largura definida */
        margin: 0 auto; /* Centraliza horizontalmente */
        border-radius: 20px;
      }


.titulo-botao {
    color: black ;
    font-family: "Inria Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1vw;
    text-align: center;
    padding: 2px;

}

.grid2 {
    display: grid;
    margin-left: 15vw;
    grid-template-columns: repeat(2, 1fr); /* Força a criação de 2 colunas iguais */
    gap: 2vw;
    padding: 2vw;
    margin-top: 7vw;
}

.grid2 img {
    height: 8vw;
}

.grid2 div {
    display: flex;
    color: aliceblue;
    font-size: 2vw;
}

.grid2 p {
    position: relative;
    top: 2vw;
    left: 2vw;
}

.tituloprojetos {
    font-size: 5vw;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-top: 5vw;
    margin-bottom: 3vw;
}


.projetos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 2vw;
}

.descricao h2 {
    color: aliceblue;
    font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.descricao p {
    color: #F5F5DC;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
     padding-right: 5vw;
     padding-top: vw;
}

.projeto {
    display: grid;
    gap: 20px;
}

.projeto img {
    max-width: 200px;
    height: auto;
    border: 2px solid #3b3939;
    border-radius: 5px;
    margin: 0 auto;
}
 
/* TELAS MAIORES */
@media (min-width: 768px) {
    .projeto {
        grid-template-columns: 1fr 1fr; /* Duas colunas em telas maiores */
        margin-bottom: 5vw;
        gap: 1;
    }

    /* Inverte o layout do segundo projeto */
    .projetos div:nth-child(2) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "descricao imagem";
    }
    .projetos div:nth-child(2) img{
        grid-area: imagem;
    }
    .projetos div:nth-child(2) .descricao h2{
        grid-area: descricao;
        text-align: center;
        margin-bottom: 20px;

    }
    .projeto img {
        max-width: 390px; /* Aumenta a largura máxima da imagem */
        height: auto; /* Mantém a proporção da imagem */
        border: 2px solid #ccc;
    border-radius: 5px;
      }

      .descricao p {
        color: #F5F5DC;
        font-family: "Merriweather", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:"wdth" 100;
         padding-right: 5vw;
         font-size: 1vw;
    }
    

    .projetos div:nth-child(2) .descricao p{
        grid-area: descricao;
        text-align: center;
        margin-left: 5vw;

    }
}