body {
    background: linear-gradient(to bottom,#800020, #000000);
    height: 100vh;
}

ul {
    list-style-type: none;
    color: wheat;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.background-conteiner {
    height: 500px;
    background-image: url(/static/fundo\ setas.png);
    background-size: contain;
    width: 45%;
    height: 100%;
    background-repeat: no-repeat;
}

.navbar-nav {
    margin-top: -19px;
}

